<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.zdxfinfo.sso.dao.LoginLogMapper">

	<!-- <resultMap id="baseMap" type="com.zdxfinfo.sso.bean.LoginLog"> <result 
		property="id" column="id" /> <result property="createTime" column="create_time"/> 
		<result property="updateTime" column="update_time"/> <result property="backgroundUserId" 
		column="background_user_id" /> <result property="type" column="type" /> <result 
		property="ip" column="ip" /> <result property="browser" column="browser" 
		/> <result property="accessToken" column="accessToken"/> </resultMap> -->

	<!-- 添加 -->
	<insert id="save" parameterType="com.zdxfinfo.sso.bean.LoginLog"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO t_login_log (
		<trim suffixOverrides=",">
			<if test="backgroundUserId != null">background_user_id,</if>
			<if test="type != null">type,</if>
			<if test="ip != null and ip != ''">ip,</if>
			<if test="browser != null and browser != ''">browser,</if>
			<if test="accessToken != null and accessToken != ''">browser,</if>
		</trim>
		) VALUES (
		<trim suffixOverrides=",">
			<if test="backgroundUserId != null">#{backgroundUserId},</if>
			<if test="type != null">#{type},</if>
			<if test="ip != null and ip != ''">#{ip},</if>
			<if test="browser != null and browser != ''">#{browser},</if>
			<if test="accessToken != null and accessToken != ''">#{accessToken},</if>
		</trim>
		)
	</insert>

	<select id="getByToken"
		parameterType="com.zdxfinfo.sso.bean.LoginLog">
		select * from
		t_login_log where accessToken = #{accessToken}
	</select>
	<!-- 添加 -->
	<!-- <insert id="saveUserToken" parameterType="com.zdxfinfo.sso.bean.LoginLog" 
		useGeneratedKeys="true" keyProperty="id"> INSERT INTO user_token ( <trim 
		suffixOverrides=","> <if test="accessToken != null">accessToken,</if> <if 
		test="backgroundUserId != null">background_user_id,</if> <if test="ip != 
		null and ip != ''">ip,</if> <if test="browser != null and browser != ''">browser,</if> 
		</trim> ) VALUES ( <trim suffixOverrides=","> <if test="accessToken != null">#{accessToken},</if> 
		<if test="backgroundUserId != null">#{backgroundUserId},</if> <if test="ip 
		!= null and ip != ''">#{ip},</if> <if test="browser != null and browser != 
		''">#{browser},</if> </trim> ) </insert> -->

</mapper>

